
CreacionDeFeatures/Data/.ipynb_checkpoints/events_up_to_01062018-checkpoint.csv
CreacionDeFeatures/Data/.ipynb_checkpoints/labels_training_set-checkpoint.csv
CreacionDeFeatures/Data/events_up_to_01062018.csv
CreacionDeFeatures/Data/labels_training_set.csv
CreacionDeFeatures/Data/trocafone_kaggle_submit_sample_all_0.csv
CreacionDeFeatures/Data/trocafone_kaggle_test.csv
